<div class="sort_header">
     <div class="col-md-3 col-md-offset-1">
      	<h4><%=sortable "due_date"%></h4>
    </div>
    <div class="col-md-3">
     	<h4><%=sortable "title"%></h4>
    </div>
    <div class="col-md-3">
   	<h4><%= sortable "priority" %></h4>
    </div>
</div>
