<% provide(:title, 'all tasks') %>
<div class = "panel panel-danger">
	<div class = "panel-heading">
		<h1>Not complited tasks:</h1>
	</div>
	<div class = "panel-body">
		<%= render 'not_complited' %> 

	 </div>

 </div>
	 
<div class = "panel panel-success">
	<div class = "panel-heading">
		<h1>Complited tasks:</h1>
	</div>
	 	<div class = "panel-body">
			<%= render 'complited_tasks' %> 
		</div>
</div>

