<% provide(:title, 'all tasks') %>

<div class = "panel panel-danger">
	<div class = "panel-heading">
		<h1> Not complited tasks:</h1>
	</div>
	<div class = "panel-body" id="incomplete_tasks">
		<%= render 'not_complited' %> 
	</div>

 </div>
 <%= link_to '+ add task', new_task_path,  class:  'btn btn-success' %>

	 
<div class = "panel panel-success">

	<div class = "panel-heading" id="complete_tasks">
		<h1>Complited tasks:</h1>
	</div>
	 	<div class = "panel-body">
			<%= render 'complited_tasks' %> 
		</div>
</div>

