<% provide(:title, "About") %>
<h1>About</h1>
<div class="container">
	<p>
	 Task Management Application based on Ruby on Rails technology
	</p>
	<p>
	 <a href="https://github.com/AlexTargonski/todo_app">Github link</a>
	</p>
</div>