<footer class="footer">
  <div class="container">
    <hr>
    <div class=" col-md-6">
      <br />
      <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="https://github.com/AlexTargonski/todo_app"><i id="social-gp" class="fa fa-github-square fa-3x social"></i></a>
    </div>
    <div class="col-md-6">
      <nav>
        <ul>
          <li><%= link_to "Home",   root_path  %></li>
          <li><%= link_to "About",   about_path  %></li>
        </ul>
      </nav>
    </div>
    <hr>
  </div>
</footer>